@import "../../styles/partials/global";
@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";
@import "../../styles/partials/variables";

.radial-menu {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 50px auto;
  border-radius: 50%;
  list-style: none;
  padding: 0;

  .radial-menu__item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;

    &:nth-child(1) {
      transform: translate(-50%, -50%) rotate(0deg) translate(120px)
        rotate(0deg);
    }
    &:nth-child(2) {
      transform: translate(-50%, -50%) rotate(60deg) translate(120px)
        rotate(-60deg);
    }
    &:nth-child(3) {
      transform: translate(-50%, -50%) rotate(120deg) translate(120px)
        rotate(-120deg);
    }
    &:nth-child(4) {
      transform: translate(-50%, -50%) rotate(180deg) translate(120px)
        rotate(-180deg);
    }
    &:nth-child(5) {
      transform: translate(-50%, -50%) rotate(240deg) translate(120px)
        rotate(-240deg);
    }
    &:nth-child(6) {
      transform: translate(-50%, -50%) rotate(300deg) translate(120px)
        rotate(-300deg);
    }
  }

  .radial-menu__icon {
    font-size: 24px;
    color: #fff;
    background-color: #007bff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}
