// Screen breakpoints
$tablet: 768px;
$desktop: 1280px; 

// Font weights
$regular: 400;
$demi: 600;
$bold: 700;

//Primary colours
$sprout-brown: #563913;
$plant-green: #6b8e23;
$soft-green: #98fb98;
$forest-green: #2e8b57;
$light-brown: #e3d0b9;
$earth-brown: #8b4513;
$accent-yellow: #f4e04d;
$shadow-color: rgba(0, 0, 0, 0.1);
