@import "../../styles/partials/global";
@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";
@import "../../styles/partials/variables";

.footer {
    display: flex;
    justify-content: center;
    color: #9e8c8cab;
    font-size: .75rem;
}
